@{

}
<h2>Title: @ViewData["Title"]</h2>
<h3>Author: @ViewData["Author"]</h3>
<h4>Published: @ViewData["Year"]</h4>
<img src=@ViewData["Image"] alt=@ViewData["Title"]>
<p>@ViewData["Description"]</p>
